.register {
  margin: 100px 0;

  &__wrapper {
    display: flex;
  }

  .profilePic {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-top: 40px;
  }
}