* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',sans-serif;
  background: #eee;
  color: #333;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;

  &:hover {
    color: gray;
  }
}